@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<h1>@ViewBag.Monster.Name</h1>
<img src="@ViewBag.Monster.Thumbnail" />